<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout-admin :: areas(~{::main})}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>cate</title>
</head>
<body>
	<main>
		<div class="container" style="margin-top: 10px;">
			<form th:action="@{/admin/update-category/{id} (id = ${cate1.id})}"
				class="form col-sm-8" method="post" th:object=${cate1}>


				<div class="form-group">
					<input class="form-control" name="id" th:value="*{id}"
						th:field="*{id}">

				</div>
				<div class="form-group">
					<input class="form-control" th:value="*{name}" th:field="*{name}">

				</div>


				<div class="form-group">
					<input type="submit" class="btn btn-danger" value="update">
				</div>

			</form>
		</div>
	</main>
</body>
</html>